@model IEnumerable<MVCDemo2.Models.Employees.Employee>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
        <div>
            @using(Html.BeginForm())
            {
              @Html.DropDownList("employees", (SelectList)ViewBag.emp,new {@class="form-control", onchange="this.form.submit();"})
            }

        </div>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeId },new {@Class ="btn btn-primary"}) |
                    @Html.ActionLink("Details", "Details", new {  id=item.EmployeeId },new {@Class ="btn btn-success"}) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId },new {@Class ="btn btn-danger"})
                </td>
            </tr>
            }

        </tbody>
    </table>


