
@model vidly.ViewModel.RendomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
        
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

@*this the simple viwe for the show the name*@
<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>
        }

    </ul>

}

@*this the viewDate to show the data*@
@*<h2>@( ((Movie)ViewData["Movies"]).name)</h2>*@
@*@Model.Name
    @Model.RandMovie*@
